<ng-container *ngIf="isAuth()">
  <div class="content">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="'assets'">Ассеты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/items'">Инвентарь</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/recipes'">Рецепты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/craft'">Крафт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </div>
</ng-container>



