<div class="card d-grid gap-2">
  <label class="card-header">{{project?.name}}</label>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Дата начала: {{project?.startDate | date : 'dd/M/yyyy' | uppercase}}</li>
    <li class="list-group-item">Дата завершения: {{project?.endDate |  date : 'dd/M/yyyy' | uppercase}}</li>
    <li class="list-group-item">Незавершенных задач: {{taskNumber}}</li>
  </ul>
  <div class="d-grid gap-2">
    <button class="btn btn-secondary" type="button" [routerLink]="['/projects/',project?.id]">Редактировать</button>
    <button class="btn btn-secondary" type="button" [routerLink]="['/tasks/',project?.id]">Задачи</button>
  </div>
</div>
