<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center mb-3">
      <div class="container">
        <div class="row" *ngFor="let asset of assetInsToShow">
          <div class="col gy-3" *ngFor="let asseti of asset">
            <app-craft-table-cell [asset]="asseti" (selectAssetInEvent)="onSelectAssetInEvent($event)"
              (deleteAssetInEvent)="onDeleteAssetInEvent($event)"></app-craft-table-cell>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 align-self-center mb-3">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-md-6">
            <h5 class="text-center">Результат</h5>
          </div>
        </div>
        <div class="row justify-content-center mb-3">
          <div class="col-md-6">
            <app-craft-table-cell [asset]="assetResultToShow" (selectAssetInEvent)="onSelectAssetInEvent($event)"
              (deleteAssetInEvent)="onDeleteAssetInEvent($event)"></app-craft-table-cell>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <button type="button" title="trade" class="btn btn-primary w-100" (click)="OnSaveClick()">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
